.env
.DS_Store
.capistrano
public/assets/

/.bundle
/.vagrant
/.idea

/log
/tmp
/coverage
/public/uploads

/config/newrelic.yml

/config/database.yml
/config/database.yml.example
/site

*#
*.#*
*~

*.sass-cache
