@font-face {
  font-family:'HelveticaNeue-Regular';
  src: url(font_path('HelveticaNeue_gdi.eot'));
  src: url(font_path('HelveticaNeue_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue_gdi.ttf'))  format('truetype'),
  url(font_path('HelveticaNeue_gdi.otf'))  format('opentype'),
  url(font_path('HelveticaNeue_gdi.svg#HelveticaNeue-Regular')) format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-Bold';
  src: url(font_path('HelveticaNeue-Bold_gdi.eot'));
  src: url(font_path('HelveticaNeue-Bold_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-Bold_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-Bold_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-Bold_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-Bold_gdi.svg#HelveticaNeue-Bold')) format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-BoldItalic';
  src: url(font_path('HelveticaNeue-BoldItalic_gdi.eot'));
  src: url(font_path('HelveticaNeue-BoldItalic_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-BoldItalic_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-BoldItalic_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-BoldItalic_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-BoldItalic_gdi.svg#HelveticaNeue-BoldItalic')) format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-CondensedBlack';
  src: url(font_path('HelveticaNeue-CondensedBlack_gdi.eot'));
  src: url(font_path('HelveticaNeue-CondensedBlack_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-CondensedBlack_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-CondensedBlack_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-CondensedBlack_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-CondensedBlack_gdi.svg#HelveticaNeue-CondensedBlack')) format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-CondensedBold';
  src: url(font_path('HelveticaNeue-CondensedBold_gdi.eot'));
  src: url(font_path('HelveticaNeue-CondensedBold_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-CondensedBold_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-CondensedBold_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-CondensedBold_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-CondensedBold_gdi.svg#HelveticaNeue-CondensedBold')) format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-Italic';
  src: url(font_path('HelveticaNeue-Italic_gdi.eot'));
  src: url(font_path('HelveticaNeue-Italic_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-Italic_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-Italic_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-Italic_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-Italic_gdi.svg#HelveticaNeue-Italic')) format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-Light';
  src: url(font_path('HelveticaNeue-Light_gdi.eot'));
  src: url(font_path('HelveticaNeue-Light_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-Light_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-Light_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-Light_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-Light_gdi.svg#HelveticaNeue-Light')) format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-LightItalic';
  src: url(font_path('HelveticaNeue-LightItalic_gdi.eot'));
  src: url(font_path('HelveticaNeue-LightItalic_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-LightItalic_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-LightItalic_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-LightItalic_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-LightItalic_gdi.svg#HelveticaNeue-LightItalic')) format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-Medium';
  src: url(font_path('HelveticaNeue-Medium_gdi.eot'));
  src: url(font_path('HelveticaNeue-Medium_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-Medium_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-Medium_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-Medium_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-Medium_gdi.svg#HelveticaNeue-Medium')) format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-MediumItalic';
  src: url(font_path('HelveticaNeue-MediumItalic_gdi.eot'));
  src: url(font_path('HelveticaNeue-MediumItalic_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-MediumItalic_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-MediumItalic_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-MediumItalic_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-MediumItalic_gdi.svg#HelveticaNeue-MediumItalic')) format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-Thin';
  src: url(font_path('HelveticaNeue-Thin_gdi.eot'));
  src: url(font_path('HelveticaNeue-Thin_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-Thin_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-Thin_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-Thin_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-Thin_gdi.svg#HelveticaNeue-Thin')) format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-ThinItalic';
  src: url(font_path('HelveticaNeue-ThinItalic_gdi.eot'));
  src: url(font_path('HelveticaNeue-ThinItalic_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-ThinItalic_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-ThinItalic_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-ThinItalic_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-ThinItalic_gdi.svg#HelveticaNeue-ThinItalic')) format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-UltraLight';
  src: url(font_path('HelveticaNeue-UltraLight_gdi.eot'));
  src: url(font_path('HelveticaNeue-UltraLight_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-UltraLight_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-UltraLight_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-UltraLight_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-UltraLight_gdi.svg#HelveticaNeue-UltraLight')) format('svg');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family:'HelveticaNeue-UltraLightItalic';
  src: url(font_path('HelveticaNeue-UltraLightItalic_gdi.eot'));
  src: url(font_path('HelveticaNeue-UltraLightItalic_gdi.eot?#iefix')) format('embedded-opentype'),
  url(font_path('HelveticaNeue-UltraLightItalic_gdi.woff')) format('woff'),
  url(font_path('HelveticaNeue-UltraLightItalic_gdi.ttf')) format('truetype'),
  url(font_path('HelveticaNeue-UltraLightItalic_gdi.otf')) format('opentype'),
  url(font_path('HelveticaNeue-UltraLightItalic_gdi.svg#HelveticaNeue-UltraLightItalic')) format('svg');
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
