@import "fonts.css";
html {
    width: 100%;
    height: 100%;
    font-size: 100.01%;
}
body {
    font: 16px/30px "HelveticaNeue-Regular", Arial, sans-serif;
    width: 100%;
    position: relative;
    min-height: 100%;
    background: #fff;
    color: #585858;
}
.modal {padding: 50px;}
.modal h1 {font-size: 36px;}
.modal .text {font-size: 18px;margin: 40px 0}


table {
    border-collapse: collapse;
    border-spacing: 0;
}
.col-container:after {content: ' '; display: block;clear: both; }
.col-50 {width: 50%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;float: left;}
.col-33 {width: 33%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;float: left;}
a {
    outline: 0 none !important;
  color: #000000;;
}
.italic {
    font-style: italic;
}
.tac {
    text-align: center!important;
}
.rel {
    position: relative;
}
.fl {float:left;}
.fr {float: right;}

.f-blue {color: #2fc0f0!important;}
.f-orange {color: #e78613!important;}
.f-red {color: #e71313!important;}
.f-green {color: #7ac241!important;}
.f-white {color: #ffffff;}
.b_gray {background: #f7f7f7;}
.b_darkgray {background: #e3e3e3;}

.f-bold {font-family: 'HelveticaNeue-Bold';font-weight: bold;}

h1 {
    display: block;
    color: #122437;
    font-size: 48px;
    line-height: 52px;
    font-family: "HelveticaNeue-Thin";
}
.funds .common h1 {color: #ffffff;font-size: 36px;padding-bottom: 30px;}
.after_title {
    margin-top: 55px;
}
p.after_title {
    margin: 10px auto 0;
    max-width: 70%;
    line-height: 24px;
    color: #686868;
}
.funds .common p.after_title {color: #ffffff;}
p + p {
    margin-top: 10px;
}
/* MIXINS */
.inlineblock {
    display: inline-block;
    vertical-align: top;
    zoom: 1  ;
    display: inline  ;
}
.clearfix {
    *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
    zoom: 1  ;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

/*Section.breadcrumbs*/
section.breadcrumbs {
  background: #1f3853;
}
section.breadcrumbs .p_block {padding-top: 30px;padding-bottom: 30px;}
section.breadcrumbs a {
  text-decoration: underline;
  font-family: 'HelveticaNeue-Light';
  font-size: 18px;
  color: #ffffff;
  line-height: 18px;
  font-weight: normal;
  padding-right: 26px;
  margin-right: 16px;
  background: url('/images/ico/bc_corner.png') no-repeat center right transparent;
  display: inline-block;
}
section.breadcrumbs a:hover {text-decoration: none;}
section.breadcrumbs h1 {
  font-family: 'HelveticaNeue-Light';
  font-size: 18px;
  color: #ffffff;
  line-height: 18px;
  font-weight: normal;
  display: inline-block;
}
section.breadcrumbs nav.leftbc {position: absolute;right: 0;top: -30px;bottom: -30px;}
section.breadcrumbs nav.leftbc:before {content: '';display: block;float: left;height: 90px;width: 200px;background: #1f3853; background: linear-gradient(to left, #1f3853 30%,transparent);}
section.breadcrumbs nav.leftbc .inner {border-left: 1px solid #346090;padding: 30px 50px 30px 15px;cursor: pointer;float: left;position: relative;background: #1f3853;}
section.breadcrumbs nav.leftbc .inner .thispage {color: #aaaaaa;font-family: 'HelveticaNeue-Light';font-size: 18px;background: url('/images/ico/nav_inner.png') no-repeat center left transparent;padding-left: 38px;}
section.breadcrumbs nav.leftbc .inner.analitycs .thispage {background: url('/images/ico/nav_analytics.png') no-repeat center left transparent;}

section.breadcrumbs nav.leftbc .inner.active {background: #346090; }
section.breadcrumbs nav.leftbc .inner.active .thispage {color: #ffffff;background: url('/images/ico/nav_inner-a.png') no-repeat center left transparent;}
section.breadcrumbs nav.leftbc .inner.active.analitycs .thispage {background: url('/images/ico/nav_analytics-a.png') no-repeat center left transparent;}
section.breadcrumbs nav.leftbc .inner ul {
  background: #ffffff;
  box-shadow: 0 0 20px #666666;
  position: absolute;
  top: 90px;
  z-index: 1000;
  right: 0;
  width: 275px;
  padding: 25px;
  cursor: default;
  display: none;
}
section.breadcrumbs nav.leftbc .inner ul li {padding: 13px 0;text-align: left}
section.breadcrumbs nav.leftbc .inner ul li  a {
  font-family: 'HelveticaNeue-Regular';
  font-size: 16px;
  color: #2f2f2f;
  line-height: 20px;
  padding-right: 0;
  margin-right: 0;
  background: none;
  font-weight: bold;
}
section.breadcrumbs nav.leftbc .inner.active ul {display: block;}

section.breadcrumbs nav.yellowbord {position: absolute;right: 0;top: -30px;bottom: -30px;}
section.breadcrumbs nav.yellowbord a.inner {
  padding: 35px 15px 25px;
  cursor: pointer;
  float: left;
  position: relative;
  border-bottom: 9px solid transparent;
  text-decoration: none;
  font-family: 'HelveticaNeue-Regular';
  font-size: 16px;
  color: #ffffff;
  line-height: 21px;
  font-weight: normal;
  margin-right: 10px;
  background: none;
  display: block;
  text-align: center;
  opacity: 0.5;
}
section.breadcrumbs nav.yellowbord a.inner.active,
section.breadcrumbs nav.yellowbord a.inner:hover {border-bottom: 9px solid #ffd800;opacity: 1;}

section.red-attention-block {background: #c84f4f;}
section.red-attention-block .p_block {padding-top: 25px;padding-bottom: 25px;color: #ffffff;font-size: 18px;font-family: 'HelveticaNeue-Bold';font-weight: bold;text-align: center;}
/* Secondary section */
footer {
    display: block;
    background: #122437;
    padding: 60px 0 0;
    position: relative;
}
.cover {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    bottom: -2000px;
    right: 0;
    background: #122437;
}
.bottom_nav {
    display: block;
    text-align: center;
    margin: 0;
}
.bottom_nav li {
    display: inline-block;
    vertical-align: top;
    zoom: 1  ;
    display: inline  ;
    margin: 0 40px;
}
.bottom_nav a {
    color: #fff;
    font-family: "HelveticaNeue-Bold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}
.final {
    filter: alpha(opacity=40);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    padding: 55px 0 35px 0;
}
.p_block {
    padding: 0 13.5%;
}
.p_vertival {padding-top: 45px!important;padding-bottom: 80px!important;}


.two_cols p {font-size: 14px;line-height: 26px;}
.two_cols .col-50 {padding-right: 75px;}

.container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
.common {
    display: block;
    margin-top: 70px;
    position: relative;
}
.common.bigger {
    margin-top: 100px;
}
.common:first-child {
   margin-top: 0;
 }
.funds .common:first-child {
  padding-top: 105px;
}
.common.simple_text h1 {font-family: 'HelveticaNeue-Thin';font-weight: normal;font-size: 48px;}
.section_up {margin-top: -264px}
.section_up2 {margin-top: -228px}
.bdt {
    border-top: 1px solid #d5d5d5;
    padding-top: 65px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    max-width: 1650px;
    margin: 0 auto;
}
.maincontent {
    display: block;
    position: relative;
    padding-bottom: 60px;
}
.content {
    display: block;
    margin-top: 80px;
}
  .content.funds {
    margin-top: 0px;
  }
header {
    display: block;
    position: relative;
    padding: 35px 0;
    *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
    zoom: 1  ;
    font-size: 17px;
    line-height: 22px;
    font-family: "HelveticaNeue-Bold";
    color: #122437;
}
header:before,
header:after {
    content: "";
    display: table;
}
header:after {
    clear: both;
}
.logo {
    display: block;
    float: left;
    margin-right: 7.5%;
    text-align: center;
}
.logo img {
    display: inline-block;
    vertical-align: top;
    zoom: 1  ;
    display: inline  ;
}
.logo span {
    display: block;
    position: absolute;
    left: -9999px;
}
.main_menu {
    display: block;
    overflow: hidden;
}
.main_menu ul {
    display: block;
    *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
    zoom: 1  ;
}
.main_menu ul:before,
.main_menu ul:after {
    content: "";
    display: table;
}
.main_menu ul:after {
    clear: both;
}
.main_menu li {
    display: block;
    float: left;
    margin-right: 3.5%;
    margin-top: 5px;
}
.main_menu a {
    color: #122437;
    text-decoration: none;
}
.main_menu a:hover, .main_menu a.active {color:#00b9f2;}
.phone {
    display: block;
    float: right;
    margin: 5px 0 0 10px;
    padding: 0 0 0 30px;
    background: url("/images/ico/phone.png") 0 50% no-repeat transparent;
    text-decoration: none;
}
.main_slider {
    display: block;
    position: relative;
}
.slides {
    display: block;
    overflow: hidden;
    height: 599px;
}
.slides .slide {
    display: block;
    height: 599px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.slide_info {
    display: block;
    padding-top: 110px;
    width: 616px;
}
.funds .slide_info {width: 70%;padding-top: 160px;}
.slide_info p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
}
.funds .slide_info p {font-size: 16px;margin-top: 40px;line-height: 30px;}
.slide_im {
    display: block;
    margin-bottom: 20px;
}
.slides .button {
    margin-top: 30px;
}

.big-button.lic {border: 1px solid #e2e2e2;padding: 36px 40px; text-decoration: none;margin-top: 50px;display: block;}
.big-button.lic span {background: url('/images/ico/lic.png') left center no-repeat transparent;display: block;padding-left: 126px;height: 88px;line-height: 88px;font-size: 36px;font-family: 'HelveticaNeue-Thin';color: #000000;}
.controllr_wrap {
    display: block;
    position: relative;
    z-index: 21;
}
.cotrollr {
    width: 67px;
    height: 66px;
    position: absolute;
    right: 0;
    top: 255px;
    background: url("/images/ico/sl_ar.png") 50% 50% no-repeat transparent;
    cursor: pointer;
}
.form_element {
    display: block;
    *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
    zoom: 1  ;
    margin-top: 24px;
  position: relative;
}
.form_element:before,
.form_element:after {
    content: "";
    display: table;
}
.form_element:after {
    clear: both;
}
.form_element.submit {
    margin-top: 55px;
}
.form_element .attr {max-width: 700px;width: 100%;position: relative;margin: 0 auto;}
input[type="text"] {
  width: 100%;
    box-sizing: border-box;
    height: 64px;
    line-height: 60px;
    border: 1px solid #e0e0e0;
    color: #aaaaaa;
    font-family: "HelveticaNeue-Regular";
    font-size: 18px;
    text-align: center;
    padding: 0 24px;
    background: transparent;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  height: 190px;
  line-height: 24px;
  border: 1px solid #e0e0e0;
  color: #aaaaaa;
  font-family: "HelveticaNeue-Regular";
  font-size: 18px;
  padding: 21px 24px;
  background: transparent;
}
.form_element.has-error input, .form_element.has-error textarea{border: 1px solid #f0a9ab;}
.control-label.error {position: absolute;top: 0;right: 10px;color: #f0a9ab;height: 64px;line-height: 64px;}


textarea::-webkit-input-placeholder {text-align: center;padding-top: 50px}
textarea::-moz-placeholder{text-align: center;padding-top: 50px}
textarea:-moz-placeholder{text-align: center;padding-top: 50px}
textarea:-ms-input-placeholder{text-align: center;padding-top: 50px}
input.success {
    filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    border-color: #62b772;
    color: #62b772;
    padding-right: 45px;
    background: url("/images/ico/i_suc.png") 100% 50% no-repeat transparent;
}
input.error {
    filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    border-color: #e54b4b;
    color: #e54b4b;
    padding-right: 45px;
    background: url("/images/ico/i_err.png") 100% 50% no-repeat transparent;
}
.grey_links {
    width: 100%;
    *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
    zoom: 1  ;
}

.grey_links:before,
.grey_links:after {
    content: "";
    display: table;
}
.grey_links:after {
    clear: both;
}
.grey_links .link {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    height: 208px;
    cursor: default;
    text-align: center;
    width: 33%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: block;
    float: left;
    text-decoration: none;
    position: relative;
    background: #ffffff;
}
.grey_links.twoblock .link{width: 49%;height: 340px;}
.grey_links .link:after {
    content: "";
    width: 1px;
    position: absolute;
    left: 100%;
    top: -1px;
    bottom: -1px;
    background: #e5e5e5;
}
.grey_links .link:before {
    content: "";
    position: absolute;
    height: 1px;
    background: #e5e5e5;
    top: 100%;
    left: -1px;
    right: -1px;
}
.grey_links .link .image {
    display: block;
    margin: 20px 0 28px 0;
    height: 90px;
    line-height: 90px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.grey_links.twoblock .link .image {background-position: center center;}
.grey_links .link .name {
    font-size: 18px;
    line-height: 22px;
    padding: 0 15px;
    font-family: "HelveticaNeue-Bold";
    color: #000;
    word-wrap: break-word;
}
.grey_links.twoblock .link .text {
  font-size: 16px;font-family: 'HelveticaNeue-Regular';color: #848484; padding: 15px;line-height: 20px;
}

.grey_links .link:hover .image {
    background-position: 50% 0;
}
.grey_links.twoblock .link:hover .image {background-position: center center;}
.outta_image {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_about {
    display: block;
    padding: 110px 0;
}
.main_about .cifers {
    display: block;
    float: right;
    margin-left: 80px;
    padding-right: 45px;
    min-height: 1px;
}
.main_about .text {
    overflow: hidden;
}
.white_chamber {
    color: #fff;
}
.white_chamber h1,
.white_chamber h2,
.white_chamber h3,
.white_chamber h4 {
    color: #fff;
}
h2 {color: #000000;font-family: 'HelveticaNeue-Regular';font-size: 24px;margin-bottom: 23px;font-weight: normal;}
h3 {color: #00b2ed;font-family: 'HelveticaNeue-Bold';font-size: 16px;margin-bottom: 23px;}

.white_chamber p {
    color: #fff;
}
.cifers_list {
    display: inline-flex;
    *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
    zoom: 1  ;
    color: #fff;
    text-align: center;
}
.cifers_center {
  margin-left: 22%;
}
.cifers_list:before,
.cifers_list:after {
    content: "";
    display: table;
}
.cifers_list:after {
    clear: both;
}
.cifers_list li {
    display: inline-block;
    vertical-align: top;
    zoom: 1  ;
    display: inline  ;
    margin-left: 57px;
    width: 124px;
    text-align: center;
}
.cifers_list li:first-child {
    margin-left: 0;
}
.cifers_list .num {
    display: inline-block;
    vertical-align: top;
    zoom: 1  ;
    //display: inline  ;
    width: 106px;
    height: 106px;
    border: 1px solid #ffd800;
}
.cifers_list .cif {
    font-size: 60px;
    line-height: 60px;
    font-family: "HelveticaNeue-Thin";
    display: block;
    margin: 10px 0 0 0;
}
.cifers_list .wtf {
    font-size: 18px;
    line-height: 18px;
    display: block;
}
.cifers_list .descr {
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;
}
.button {
    display: block;
    vertical-align: top;
    zoom: 1  ;
    //display: inline  ;
    background: #ffd800;
    font-size: 18px;
    color: #000;
    border: 0 none;
    font-family: "HelveticaNeue-Bold";
    text-transform: uppercase;
    height: 55px;
    line-height: 52px;
    padding: 0 75px;
    text-align: center;
    text-decoration: none;
  cursor: pointer;
}
.funds {height: 530px;}
.subtext {line-height: 24px;font-size: 14px;color: #989898;}
.text ul {padding-bottom: 40px;}
.text ul li {display: list-item;list-style-image: url("/images/ico/li.png");padding-left: 16px;margin-left: 20px;line-height: 45px;font-size: 16px;font-family: 'HelveticaNeue-Italic';font-style: italic;font-weight: 400;font-stretch: normal;}

.tabs_nav {text-align: center;}
.tabs_nav ul li {font-size: 24px;color: #b4b4b4;line-height: 28px;padding-bottom: 30px;border-bottom: 8px solid transparent;display: inline-block;cursor: pointer;}
.tabs_nav ul li:first-child {float: left;}
.tabs_nav ul li.active {border-bottom: 8px solid #ffd800;color: #303030;cursor: default;}
//.tabs_nav ul li:last-child {float: right;}

.tabs-container .tab {display: none;}
.tabs-container .tab.active {display: block;}

table.t1 {width: 100%}
table.t1 td, table.t1 th {border-bottom: 1px solid #e3e3e3;padding: 25px 5px;}
table.t1 tbody th {font-size: 18px;line-height: 24px;color: #6f6f6f;text-align: left;font-weight: normal;}
table.t1 tbody td {font-size: 18px;line-height: 24px;color: #000000;text-align: right;}
table.t1 thead th {color: #00b2ed;font-family: 'HelveticaNeue-Bold';font-weight: bold;text-align: left;}

table.t1.docs tbody td {text-align: left; vertical-align: middle;padding-left: 50px;}
table.t1.docs tbody td:last-child {text-align: right;width: 20%;color: #9e9e9e;padding-left: 10px;}
table.t1.docs a{text-decoration: none;color: #6f6f6f;}
table.t1.docs a:hover{color: #000000;}
table.t1 td.xls {background: url('/images/files/xls.png') center left no-repeat transparent;}
table.t1 td.xls:hover {background: url('/images/files/xls_a.png') center left no-repeat transparent;}

table.t1.report {font-size: 14px;}
table.t1.report thead th, table.t1.report tbody th, table.t1.report tbody td {font-size: 14px;}
table.t1.report tbody th {color: #000000;font-family: 'HelveticaNeue-Bold';font-weight: bold;text-align: left;}
table.t1.report tbody td {width: 170px;text-align: left;color: #9e9e9e;}
table.t1.report tbody td.xls {padding-left: 45px;}
table.t1.report tbody td a {color: #474747;text-decoration: underline;display: inline-block;padding-top: 2px;}
table.t1.report tbody td a:hover {text-decoration: none;}
table.t1.tc thead th, table.t1.tc tbody th, table.t1.tc tbody td {text-align: center;}
table.t1.wsn tbody th, table.t1.wsn tbody td {white-space: nowrap;}
table.t1.bln tbody tr:last-child td,table.t1.bln tbody tr:last-child th {border-bottom: none;}

table.t1.bolder tbody td {color: #474747;width: auto!important;}
table.t1.bolder td, table.t1.bolder th {padding-right: 30px;padding-left: 30px;}


table.t1.raiting_annot tr td:nth-child(1n) {width: 6%}
table.t1.raiting_annot tr td:nth-child(2n) {width: 30%}
table.t1.raiting_annot tr td {text-align: left;padding: 15px;border-bottom: 0;font-size: 14px; line-height: 18px;}

table.t1.raiting thead th {text-align: center;}
table.t1.raiting thead th:first-child {text-align: left;}
table.t1.raiting thead th:nth-child(2), table.t1.raiting tbody td:nth-child(2) {width: 200px;text-align: left;}
table.t1.raiting tbody th {font-size: 14px;font-family: 'HelveticaNeue-Bold';font-weight: bold;color: #000000;}
table.t1.raiting tbody td {text-align: center;font-size: 14px;}
table.t1.raiting tbody td.subtext {padding-top: 0;color: #b8b8b8;text-align: left;}
table.t1 thead th.docum {width: 80px;}
table.t1 tbody td.docum {width: 80px;text-align: right;}

table.t1.raiting tbody td.stage {width:60px;background-repeat: no-repeat;background-position: center center;background-color: transparent;}
table.t1.raiting tbody td.stage.s3 {background-image: url('/images/ico/s3.png')}

table.t1.raiting.analys tbody td.b_gray {padding: 25px 15px;}
table.t1.raiting.analys tbody th.b_gray {color: #656565;width: 120px;padding: 25px 15px;}

table.t1.hightlight-2 tr td:nth-child(2),table.t1.hightlight-2 tr th:nth-child(2) {background: #f7f7f7;}
table.t1.w-25 td, table.t1.w-25 th {width: 25%}

table.t1.review td {text-align: left;line-height: 36px;font-size: 18px;}
table.t1.review td:last-child {text-align: right;color: #9e9e9e}

a.docum, div.docum {display: inline-block;height: 36px;padding-left:51px;background-repeat: no-repeat;background-position: left center;background-color: transparent;text-decoration: none;color: #6f6f6f;}
a.docum:hover, div.docum:hover{color: #000000;}
.docum.pdf {background-image: url('/images/files/pdf.png')}
.docum.pdf:hover {background-image: url('/images/files/pdf_a.png')}
.docum.xls {background-image: url('/images/files/xls.png')}
.docum.xls:hover {background-image: url('/images/files/xls_a.png')}
.pdf {background: url('/images/files/pdf.png') center left no-repeat }
.pdf:hover {background: url('/images/files/pdf_a.png') center left no-repeat  }


table.newslist {width: 100%;}
table.newslist th {font-size: 18px;width: 180px;color: #b8b8b8;vertical-align: top;text-align: left}
table.newslist td {font-size: 16px;color: #585858;padding-bottom: 35px;}
table.newslist td a {color: #00b2ed;font-size: 18px;text-decoration: underline;padding-bottom: 10px;}
table.newslist td a:hover {text-decoration: none;}

.review-date {font-size: 18px;color: #b8b8b8;padding-bottom: 10px;}
h2.review-title {color: #00b2ed;font-size: 24px;}

.bln {border-bottom: none!important;}

.pad-a-30 {padding: 30px;}
.pad-r-60 {padding-right: 60px;}
.graph {border: 4px solid #f2f2f2;}
.graph img {width: 100%;height: auto;}
nav.yellbox li {display: block;float: left;padding:0 25px;height: 50px;line-height:50px;border-radius: 18px 18px 18px 18px; color: #767676;margin-right: 20px;font-family: 'HelveticaNeue-Regular';font-style: inherit;text-align: center;cursor: pointer;}
nav.yellbox li.active {background: #ffd800;color: #000000;cursor: default;}

.accordion .accordion-block {border-bottom: 1px solid #e3e3e3;margin-right: 20%;}
.accordion .accordion-block .accordion-title {font-family: 'HelveticaNeue-Bold';font-size: 16px;color: #000000;padding: 23px 50px;background: url('/images/ico/accor_ar.png') left center no-repeat transparent;cursor: pointer;}
.accordion .accordion-block .accordion-text {padding: 0 50px 23px;display: none;}
.accordion .accordion-block.active .accordion-text {display: block;}


.paginator ul li {padding: 0;height:62px;float: left;margin-right: 10px;background: transparent;color:#122437;font-size:18px;text-align:center;line-height:62px;border-radius: 31px 31px 31px 31px;width: 62px;cursor: pointer;}
.paginator.newslist {margin-left: 180px;}
.paginator ul li a {text-decoration: none;color:#122437;}
.paginator ul li.active {background: #ececec;}

.backlink {text-transform: uppercase;font-family: 'HelveticaNeue-CondensedBold';color: #122437;font-size: 18px;line-height: 45px;padding: 0 15px;background: #ffd800; display:inline-block;text-decoration:none;}

.cit {font-size: 18px;color: #202020;}

.vibor h3 {font-size: 16px;color: #000000;}
.vibor {font-size: 16px;}
.vibor .col-33 {padding: 30px;}

.vibor .num {width: 82px;height: 82px;line-height: 82px;font-family: 'HelveticaNeue-Thin';font-size: 36px;color: #000000;border: 1px solid #00b2ed;text-align: center;margin-bottom: 60px;}
.vibor .arrow {width: 128px;height: 82px;background: url("/images/ico/long_ar.png") right center no-repeat transparent;margin-right: 30px;}

section.howto {font-size: 14px;font-family: 'HelveticaNeue-Regular';line-height: 25px;}
section.howto ul li {font-size: 14px;font-family: 'HelveticaNeue-Regular'!important;font-style: normal!important;line-height: 25px;padding-bottom: 15px;}
section.howto p {padding-bottom: 15px;}
section.howto h3 {font-size: 14px;font-weight: bold;font-family: 'HelveticaNeue-Bold';color: #ffffff;}
section.howto .col-33 {padding: 40px;position: relative}

section.howto .square {display: block;margin: 0 auto 50px;width: 165px;height: 165px;border: 1px solid #ffd800;background-color: transparent;background-position: center center;background-repeat: no-repeat;}
section.howto .square.pen {background-image: url("/images/ico/pen.png")}
section.howto .square.arr {background-image: url("/images/ico/arrow.png")}
section.howto .square.mail {background-image: url("/images/ico/mail.png")}
section.howto .arrow {width: 128px;height: 82px;background: url("/images/ico/long_ar2.png") right center no-repeat transparent;position: absolute;top: 80px;right: -70px;}

section.attention .square-mailb {display: block;width: 185px;height: 185px;border: 1px solid #cacaca;background-color: transparent;background-position: center center;background-repeat: no-repeat;background-image: url("/images/ico/mail_b.png");position: absolute;top: 0}
section.attention h3 {color: #000000;font-size: 18px;}
section.attention {font-size: 16px;}
section.attention .toright {display: block;height: 185px;border: 1px solid #cacaca;border-left: 0;padding: 35px;margin-left: 185px;}

.timeline_slide {
  display: block;
  overflow: hidden;
}
.timelines {
  display: inline-flex;
  white-space: nowrap;
}
.timeline_item {
  display: block;
  display: inline-block;
  vertical-align: top;
  zoom: 1  ;
  display: inline  ;
  width: 33.3%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 50px;
  white-space: normal;
}
.timeline_item .year {
  display: block;
  font-size: 30px;
  line-height: 32px;
  font-family: "HelveticThin";
  color: #000;
  height: 32px;
}
.timeline_item .ld_wrap {
  display: block;
  position: relative;
  margin: 35px 0 0;
  height: 36px;
}
.timeline_item .ld_wrap .dot {
  display: block;
  position: absolute;
  height: 36px;
  width: 36px;
  left: 0;
  top: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffd800;
}
.timeline_item .ld_wrap .line {
  height: 2px;
  position: absolute;
  left: 45px;
  top: 50%;
  margin: -1px 0 0;
  background: #e4e4e4;
  right: -40px;
}
.timeline_item .month {
  display: block;
  margin: 30px 0 0;
  font-family: "HelveticBold";
  font-size: 18px;
  line-height: 20px;
  color: #000;
}
.timeline_item .title {
  margin: 40px 0 0;
  font-family: "HelveticBold";
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.timeline_item .description {
  margin: 25px 0 0;
  font-size: 14px;
  line-height: 24px;
}

.photolist .photolist-photo {width: 200px;height: 200px;overflow: hidden;border-radius: 100px 100px 100px 100px;position: absolute;top: 0;left: 0;}
.photolist .photolist-text {margin-left: 250px;min-height: 200px;margin-bottom: 40px;}
.photolist .photolist-text h3 {color: #000000;}

.partners .col-33 {text-align:  center;}
.partners a {width:332px;height:332px; text-align: center;font-family: 'HelveticaNeue-Thin';font-size: 24px;color: #122437;text-decoration: none;display: inline-block;border: 1px solid #e4e4e4;margin: 25px;vertical-align: middle;padding: 130px 50px 0}
.partners a:hover {color: #ffffff;}
.partners a.bank:hover {background: url("/images/ico/1.jpg") center center no-repeat transparent;}
.partners a.private:hover{background: url("/images/ico/2.jpg") center center no-repeat transparent;}
.partners a.develop:hover{background: url("/images/ico/3.jpg") center center no-repeat transparent;}
.partners a.microf:hover{background: url("/images/ico/5.jpg") center center no-repeat transparent;}
.partners a.lander:hover{background: url("/images/ico/4.jpg") center center no-repeat transparent;}
.partners a.lombard:hover{background: url("/images/ico/6.jpg") center center no-repeat transparent;}
@media screen and (max-width: 1400px) {
    .p_block {
        padding: 0 40px;
    }
    /*.main_about .cifers {
        float: none;
        margin: 0 0 30px 0;
    }*/
}
@media screen and (max-width: 1130px) {
  .big-button.lic {
    padding: 16px 20px;
  }
  .big-button.lic span {
    padding-left: 100px;
  }

}
@media screen and (max-width: 980px) {
  .big-button.lic span {
    line-height: 32px;
    font-size: 26px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 750px) {
    .p_block {
        padding: 0 20px;
    }
    .cotrollr {
        display: none;
    }
    .slides .slide_info {
        width: auto;
        padding-top: 50px;
    }
    header {
        text-align: center;
    }
    .logo {
        float: none;
        margin: 0 0 30px 0;
    }
    .phone {
        float: none;
        display: inline-block;
        vertical-align: top;
        zoom: 1  ;
        display: inline  ;
        margin: 0;
    }
    .main_menu,
    .bottom_nav {
        margin: 30px 0 0 0;
    }
    .main_menu li,
    .bottom_nav li {
        float: none;
        margin: 20px 0 0 0;
        display: block;
    }
    .main_menu li:first-child,
    .bottom_nav li:first-child {
        margin-top: 0;
    }
    .main_menu a,
    .bottom_nav a {
        display: block;
        text-align: center;
    }
    .grey_links .link {
        width: 49%;
    }
    .main_about .cifers {
        display: block;
        float: none;
        margin: 0 0 30px 0;
    }
    .main_about .cifers li {
        margin: 0 0 20px 20px;
    }
}

.funds {
    margin-bottom: 120px;
}