@import 'bootstrap-sprockets';
@import 'bootstrap';

.nav-tabs > li > a:hover {
  background-color: white;
  border-color: white;
  
  }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #ffd800;
  border-color: #ffd800;
  }

.nav-tabs {
   border-bottom: 1px solid white; 
}

a {
 text-decoration: none !important;
}

.no-info-graph {
  margin-top: 40px;
  }


.ct-chart .ct-series.ct-series-a .ct-area {fill: #fff;}
.ct-chart .ct-series.ct-series-a .ct-line {stroke: #3BC1F1;stroke-width: 3px;}
.ct-chart .ct-series.ct-series-a .ct-point {stroke: #3BC1F1;}
.ct-circle {fill: #3BC1F1;stroke-width: 5;stroke: #203135;}


.ct-chart>svg {
  background: white;
  }

.graph-max {
  max-height: 495px;
  }

.graph_gray_max {
  max-height: 700px;
  }
.push_down {
  margin-top: 60px;
  margin-left: 20px;
  }

input[type="text"].has-error {
  border-color: red;
  
  }

.has-error {
  border-color: red;
  
  }
.center-text {
  text-align: center;
  color: green;
  }
.margin_title {
  margin-top: 30px;
  }
